#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')

$h1 Contribute

Contributions via GitHub pull requests are gladly accepted from their original author. Along with any pull requests,
please state that the contribution is your original work and that you license the work to the project under the project&apos;s open source license.
Whether or not you state this explicitly, by submitting any copyrighted material via pull request, email,
or other means you agree to license the material under the project&apos;s open source license and warrant that you have the legal authority to do so.

$h2 Compiling

You can compile Reflow project with your local Maven,  with [Maven Wrapper](https://github.com/takari/takari-maven-plugin) or with Maven from Docker. The last one is the easiest solution with you don't want install a jdk8.

**Maven local**

```bash
$ mvn clean install -P skipTests -Dtoolchains.disabled=true
```

**Maven Wrapper**

```bash
$ ./mvnw clean install -Dtoolchains.disabled=true
```

**Maven from Docker**

```bash
$ ./mvnd clean install
```

The profile `skipTests` allows to skip all tests execution.

Use the parameter `toolchains.disabled` to disable maven toolchains plugin whether you are not configure your `${HOME}/.m2/toolchains.xml` file.
Here is a example of `${HOME}/.m2/toolchains.xml`

```xml
<?xml version="1.0" encoding="UTF8"?>
<toolchains>
  <!-- JDK toolchains -->
  <toolchain>
    <type>jdk</type>
    <provides>
      <version>1.8</version>
    </provides>
    <configuration>
      <jdkHome>/usr/lib/jvm/java-8-openjdk-amd64</jdkHome>
    </configuration>
  </toolchain>
  <toolchain>
    <type>jdk</type>
    <provides>
      <version>9</version>
    </provides>
    <configuration>
      <jdkHome>/usr/lib/jvm/jdk-9.0.4</jdkHome>
    </configuration>
  </toolchain>
</toolchains>
```

$h3 Site Generation

Use following command to generate site.

```bash
$ ./ci/site-generate.sh
```

$h3 Site Run

Use following command to generate and run site.

```bash
$ ./ci/site-run.sh
```

$h3 Site Deployment

Use following command to generate and deploy site.

```bash
$ ./ci/site-deploy.sh
```

$h2 Issues (bug and feature tracker)

Please report any bugs found, feature requests or other issues on
[Reflow skin GitHub tracker][reflow-issues].

[reflow-issues]: ${issue-url}

$h2 Fork, patch and contribute code

Feel free to fork Reflow skin&apos;s [Git repository at GitHub][reflow-github] for your own use and
updates.

Contribute your fixes and new features back to the main codebase using
[GitHub pull requests][github-pull-req].

[reflow-github]: ${scm-url}
[github-pull-req]: http://help.github.com/articles/using-pull-requests

$h2 Support

Let me know if you are using Reflow skin in your project. I may get around to creating a showcase
page listing skin user sites.

[Contact me][av-site] if you have questions about the skin, or just like to say something about it.

[av-site]: https://devacfr.github.io/

$h2 Acknowledgements

Reflow skin is built on [Bootstrap][bootstrap] and uses themes from [Bootswatch][bootswatch].
These include icons from [Font Awesome][fontawesome] and web fonts from [Google][webfonts].

JavaScript goodies with [jQuery][jquery].

Image previews with [Lightbox2][lightbox2].

Code highlighting with [highlight.js][highlight-js].

Anchor Heading with [anchor.js][anchor-js].

HTML rewriting with [jsoup][jsoup].

Some artwork resources from [MediaLoot][medialoot].

`shahadat-rahman-unsplash.jpg` Photo by [Shahadat Rahman](https://unsplash.com/@hishahadat?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) on [Unsplash](https://unsplash.com/s/photos/bootstrap?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText).

Inspired by [Maven Fluido Skin][fluido].

[bootstrap]: http://getbootstrap.com/
[bootswatch]: http://bootswatch.com/
[fontawesome]: https://fontawesome.com/
[webfonts]: http://www.google.com/webfonts/
[jquery]: http://jquery.org
[lightbox2]: http://lokeshdhakar.com/projects/lightbox2
[highlight-js]: http://softwaremaniacs.org/soft/highlight/en/
[anchor-js]: https://www.bryanbraun.com/anchorjs/
[jsoup]: http://jsoup.org/
[medialoot]: http://medialoot.com/
[fluido]: http://maven.apache.org/skins/maven-fluido-skin/

$h2 Copyright and license

Copyright 2012-2019 Christophe Friederich

Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
you may not use this work except in compliance with the License.
You may obtain a copy of the License in the LICENSE file, or at:

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
