#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')

$h1 Release notes

The history of Reflow Maven skin releases is documented below. For details of changes refer to the [project\'s GitHub issues][reflow-issues] or the [GitHub report][github-report].

[reflow-issues]: ${issue-url}?state=closed
[github-report]: github-report.html

$h2 Reflow Maven skin 2.3 Release Notes
**2020-03-13**

$h3 Highlights of this release

* bug fix and maintenance change

Read more in the [Reflow Maven skin 2.3 Release Notes and changeslog](release-notes-2.3.html).

---

$h2 Reflow Maven skin 2.2 Release Notes
**2020-01-31**

$h3 Highlights of this release

This focus of this release is:

* Support [header as component](../reflow-maven-skin/reflow-documentation.html#components-header)
* bug fix and maintenance change

Read more in the [Reflow Maven skin 2.2 Release Notes and changeslog](release-notes-2.2.html).

---

$h2 Reflow Maven skin 2.1 Release Notes
**2019-10-04**

$h3 Highlights of this release

This focus of this release is:

* Allow to specify the alignment element in [navbar component](../reflow-maven-skin/reflow-documentation.html#components-navbar)
    * Add `center` attribute with values `true`  (**default**) or `false`. `center` use bootstrap containers (<https://getbootstrap.com/docs/4.3/components/navbar/#containers)> otherwise use default bootstrap alignment.
    * Add `alignMenu` with values `left`  or `right`.
        * `left`  is default bootstrap alignment.
        * `right` (**default**) use `ml-auto`  bootstrap auto alignment see <https://getbootstrap.com/docs/4.0/utilities/flex/#auto-margins.>
* Use arrow up awesome character for scroll top instead css transformation
* Bump highlightjs version to 9.15.7
* Exclude menu with name null or empty directly in navbar component class.

Read more in the [Reflow Maven skin 2.1 Release Notes and changeslog](release-notes-2.1.html).

---

$h2 Reflow Maven skin 2.0 Release Notes
**2019-05-10**

$h3 Highlights of this release

This focus of this release is:

- Reflow Maven skin provides package `reflow-default-webdeps` containing the default web dependencies used when using `<localResources>`.
- Built on Bootstrap 4.
- Add Bootstrap theming on main component as `navbar`, `toc`, `footer`, `navside-menu`...
- Introduce new layout `documentation` to organize your documentation in single page to facilitate the navigation.

For facilitate the migration from version 1x, read [Migration to v2](../reflow-maven-skin/reflow-documentation.html#migration).

Read more in the [Reflow Maven skin 2.0 Release Notes and changeslog](release-notes-2.0.html).

---

$h2 Reflow Maven skin 1.5 Release Notes
**21 october 2018**

$h3 Highlights of this release

This focus of this release is:

- Reflow Maven skin provides package `reflow-default-webdeps` containing the default web dependencies used when using `<localResources>`.
- Update the support of customized bootstrap 3 theme.

Read more in the [Reflow Maven skin 1.5 Release Notes and changeslog](release-notes-1.5.html).

---

$h2 Reflow Maven skin 1.4 Release Notes
**5 october 2018**

Read more in the [Reflow Maven skin 1.4 Release Notes and changeslog](release-notes-1.4.html).

---

$h2 Reflow Maven skin 1.3 Release Notes
**1 december 2017**

Read more in the [Reflow Maven skin 1.3 Release Notes and changeslog](release-notes-1.3.html).

---

$h2 Reflow Maven skin 1.2-DEVACFR Release Notes
**18 november 2014**

Read more in the [Reflow Maven skin 1.2-DEVACFR Release Notes and changeslog](release-notes-1.2-DEVACFR.html).

---

$h2 Reflow Maven skin 1.1.2-DEVACFR Release Notes
**17 november 2014**

Read more in the [Reflow Maven skin 1.1.2-DEVACFR Release Notes and changeslog](release-notes-1.1.2-DEVACFR.html).

---

$h2 Reflow Maven skin 1.1.1 Release Notes
**22 june 2014**

Read more in the [Reflow Maven skin 1.1.1 Release Notes and changeslog](release-notes-1.1.1.html).

---

$h2 Reflow Maven skin 1.1.0 Release Notes
**17 february 2014**

Read more in the [Reflow Maven skin 1.1.0 Release Notes and changeslog](release-notes-1.1.0.html).
